ResBarbers/Connected Services/MainServiceReference/MainService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55576/MainService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ResBarbers_Backend" />
  <xs:element name="RegisterUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ResBarbers_Backend" minOccurs="0" name="user" nillable="true" type="q1:USER_" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserTypeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHairstyle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ResBarbers_Backend" minOccurs="0" name="StyleID" nillable="true" type="q2:MenuItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHairstyleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddHairstyleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveHairstyle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StyleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveHairstyleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveHairstyleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditHairstyle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StyleID" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ResBarbers_Backend" minOccurs="0" name="Hairstyle" nillable="true" type="q3:MenuItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditHairstyleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditHairstyleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHairstyle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StyleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHairstyleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ResBarbers_Backend" minOccurs="0" name="GetHairstyleResult" nillable="true" type="q4:MenuItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBarberHairstyles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BarberID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBarberHairstylesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ResBarbers_Backend" minOccurs="0" name="GetBarberHairstylesResult" nillable="true" type="q5:ArrayOfMenuItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>