ResBarbers/Connected Services/MainServiceReference/MainService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MainService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55576/MainService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55576/MainService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55576/MainService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ResBarbers_Backend" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMainService_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="IMainService_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IMainService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_GetUserType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserType" />
  </wsdl:message>
  <wsdl:message name="IMainService_GetUserType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_AddHairstyle_InputMessage">
    <wsdl:part name="parameters" element="tns:AddHairstyle" />
  </wsdl:message>
  <wsdl:message name="IMainService_AddHairstyle_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddHairstyleResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_RemoveHairstyle_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveHairstyle" />
  </wsdl:message>
  <wsdl:message name="IMainService_RemoveHairstyle_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveHairstyleResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_EditHairstyle_InputMessage">
    <wsdl:part name="parameters" element="tns:EditHairstyle" />
  </wsdl:message>
  <wsdl:message name="IMainService_EditHairstyle_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditHairstyleResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_GetHairstyle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHairstyle" />
  </wsdl:message>
  <wsdl:message name="IMainService_GetHairstyle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHairstyleResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_GetBarberHairstyles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBarberHairstyles" />
  </wsdl:message>
  <wsdl:message name="IMainService_GetBarberHairstyles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBarberHairstylesResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_GetAllHairstyles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllHairstyles" />
  </wsdl:message>
  <wsdl:message name="IMainService_GetAllHairstyles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllHairstylesResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IMainService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IMainService_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:portType name="IMainService">
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/RegisterUser" message="tns:IMainService_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/RegisterUserResponse" message="tns:IMainService_RegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/Login" message="tns:IMainService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/LoginResponse" message="tns:IMainService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserType">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/GetUserType" message="tns:IMainService_GetUserType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/GetUserTypeResponse" message="tns:IMainService_GetUserType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddHairstyle">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/AddHairstyle" message="tns:IMainService_AddHairstyle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/AddHairstyleResponse" message="tns:IMainService_AddHairstyle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveHairstyle">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/RemoveHairstyle" message="tns:IMainService_RemoveHairstyle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/RemoveHairstyleResponse" message="tns:IMainService_RemoveHairstyle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditHairstyle">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/EditHairstyle" message="tns:IMainService_EditHairstyle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/EditHairstyleResponse" message="tns:IMainService_EditHairstyle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHairstyle">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/GetHairstyle" message="tns:IMainService_GetHairstyle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/GetHairstyleResponse" message="tns:IMainService_GetHairstyle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBarberHairstyles">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/GetBarberHairstyles" message="tns:IMainService_GetBarberHairstyles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/GetBarberHairstylesResponse" message="tns:IMainService_GetBarberHairstyles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllHairstyles">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/GetAllHairstyles" message="tns:IMainService_GetAllHairstyles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/GetAllHairstylesResponse" message="tns:IMainService_GetAllHairstyles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/GetUser" message="tns:IMainService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/GetUserResponse" message="tns:IMainService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/GetUsers" message="tns:IMainService_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/GetUsersResponse" message="tns:IMainService_GetUsers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMainService" type="tns:IMainService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/IMainService/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IMainService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserType">
      <soap:operation soapAction="http://tempuri.org/IMainService/GetUserType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddHairstyle">
      <soap:operation soapAction="http://tempuri.org/IMainService/AddHairstyle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveHairstyle">
      <soap:operation soapAction="http://tempuri.org/IMainService/RemoveHairstyle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditHairstyle">
      <soap:operation soapAction="http://tempuri.org/IMainService/EditHairstyle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHairstyle">
      <soap:operation soapAction="http://tempuri.org/IMainService/GetHairstyle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBarberHairstyles">
      <soap:operation soapAction="http://tempuri.org/IMainService/GetBarberHairstyles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllHairstyles">
      <soap:operation soapAction="http://tempuri.org/IMainService/GetAllHairstyles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IMainService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IMainService/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MainService">
    <wsdl:port name="BasicHttpBinding_IMainService" binding="tns:BasicHttpBinding_IMainService">
      <soap:address location="http://localhost:55576/MainService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>