ResBarbers/Connected Services/MainServiceReference/MainService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ResBarbers_Backend" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ResBarbers_Backend" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="USER_">
    <xs:sequence>
      <xs:element minOccurs="0" name="Addressline1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Addressline2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Addressline3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="Contacts" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PassPhrase" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="University" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="UserType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WhatsApp" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="USER_" nillable="true" type="tns:USER_" />
</xs:schema>